In [1]:
import h5py
import numpy as np
import pandas as pd

In [2]:
fName = '/Users/yuntse/data/coherent/SNeNDSens/g4/NueArCC/nueArCC_sns_yDir_g4_0000.h5'

In [3]:
with h5py.File(fName, 'r') as f:
    # Print all top-level groups/datasets
    print(list(f.keys()))
    fS = f['segments']
    fT = f['trajectories']
    fV = f['vertices']
    print(fS.dtype)
    print(fT.dtype)
    print(fV.dtype)
    
    tempS = fS[()]
    tempT = fT[()]
    tempV = fV[()]

['segments', 'trajectories', 'vertices']
{'names': ['event_id', 'vertex_id', 'file_vertex_id', 'segment_id', 'z_end', 'traj_id', 'file_traj_id', 'tran_diff', 'z_start', 'x_end', 'y_end', 'n_electrons', 'pdg_id', 'x_start', 'y_start', 't_start', 't0_start', 't0_end', 't0', 'dx', 'long_diff', 'pixel_plane', 't_end', 'dEdx', 'dE', 't', 'y', 'x', 'z', 'n_photons'], 'formats': ['<u4', '<u8', '<u8', '<u4', '<f4', '<i4', '<u4', '<f4', '<f4', '<f4', '<f4', '<u4', '<i4', '<f4', '<f4', '<f4', '<f8', '<f8', '<f8', '<f4', '<f4', '<i4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 80, 88, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144], 'itemsize': 152}
{'names': ['event_id', 'vertex_id', 'file_vertex_id', 'traj_id', 'file_traj_id', 'parent_id', 'primary', 'E_start', 'pxyz_start', 'xyz_start', 't_start', 'E_end', 'pxyz_end', 'xyz_end', 't_end', 'pdg_id', 'start_process', 'start_subprocess', 'end_process', 'end_subprocess', 'dist_travel'], 'formats': ['<u4', '<u8', '<u8', '<i4', '<u4', '<i4', '?', '<f4', ('<f4', (3,)), ('<f4', (3,)), '<f8', '<f4', ('<f4', (3,)), ('<f4', (3,)), '<f8', '<i4', '<i4', '<i4', '<i4', '<i4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40, 44, 56, 72, 80, 84, 96, 112, 120, 124, 128, 132, 136, 140], 'itemsize': 144}
{'names': ['event_id', 'vertex_id', 'file_vertex_id', 'x_vert', 'y_vert', 'z_vert', 't_vert', 't_event'], 'formats': ['<u4', '<u8', '<u8', '<f4', '<f4', '<f4', '<f4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40], 'itemsize': 48}

In [4]:
dS = pd.DataFrame(tempS)
dS

,event_id,vertex_id,file_vertex_id,segment_id,z_end,traj_id,file_traj_id,tran_diff,z_start,x_end,...,long_diff,pixel_plane,t_end,dEdx,dE,t,y,x,z,n_photons
0,0,0,0,0,-12.525449,3,3,0.0,-12.543632,-6.409496,...,0.0,0,0.0,0.604965,0.030249,0.0,-16.825918,-6.420240,-12.534540,0.0
1,0,0,0,1,-25.441004,2,2,0.0,-25.394333,-12.389769,...,0.0,0,0.0,3.663783,0.183194,0.0,-12.230014,-12.385654,-25.417667,0.0
2,0,0,0,2,-20.582750,8,8,0.0,-20.582781,-11.532531,...,0.0,0,0.0,48.818054,0.040697,0.0,-10.577810,-11.532873,-20.582766,0.0
3,0,0,0,3,-15.861086,7,7,0.0,-15.861060,-15.589067,...,0.0,0,0.0,80.809334,0.021070,0.0,-12.315124,-15.589070,-15.861073,0.0
4,0,0,0,4,-12.039432,6,6,0.0,-12.050364,-18.740337,...,0.0,0,0.0,2.953415,0.237998,0.0,-10.425713,-18.705376,-12.044897,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1232895,9999,0,9233,1232895,-5.720130,44,384708,0.0,-5.705728,7.041239,...,0.0,0,0.0,16.004784,0.448924,0.0,6.279779,7.031618,-5.712929,0.0
1232896,9999,0,9233,1232896,-10.544419,21,384685,0.0,-10.605946,10.299168,...,0.0,0,0.0,2.027384,0.162810,0.0,-5.433246,10.323871,-10.575182,0.0
1232897,9999,0,9233,1232897,-10.503612,21,384685,0.0,-10.544419,10.241933,...,0.0,0,0.0,2.141325,0.161296,0.0,-5.412252,10.270550,-10.524015,0.0
1232898,9999,0,9233,1232898,-10.480351,21,384685,0.0,-10.503612,10.207313,...,0.0,0,0.0,2.611378,0.177912,0.0,-5.371781,10.224623,-10.491982,0.0
1232899,9999,0,9233,1232899,-10.521685,21,384685,0.0,-10.480351,10.218375,...,0.0,0,0.0,7.463734,0.568808,0.0,-5.313313,10.212844,-10.501019,0.0

In [5]:
tempS

array([(   0, 0,    0,       0, -12.525449,  3,      3, 0., -12.543632,  -6.409496, -16.84658  , 0, 22,  -6.4309845, -16.805256 , 0., 0.00000000e+00, 1.25856884e-05, 6.29284418e-06, 0.05000099, 0., 0, 0.,  0.60496473, 0.03024884, 0., -16.825918 ,  -6.4202404, -12.53454  , 0.),
       (   0, 0,    0,       1, -25.441004,  2,      2, 0., -25.394333, -12.389769, -12.237987 , 0, 22, -12.38154  , -12.222041 , 0., 8.45892182e-04, 1.01951031e-03, 9.32701247e-04, 0.05000136, 0., 0, 0.,  3.6637828 , 0.18319413, 0., -12.230014 , -12.385654 , -25.417667 , 0.),
       (   0, 0,    0,       2, -20.58275 ,  8,      8, 0., -20.58278 , -11.532531, -10.577573 , 0, 11, -11.533215 , -10.578049 , 0., 8.45892182e-04, 8.45965958e-04, 8.45929070e-04, 0.00083364, 0., 0, 0., 48.818054  , 0.04069674, 0., -10.57781  , -11.532873 , -20.582766 , 0.),
       ...,
       (9999, 0, 9233, 1232897, -10.503612, 21, 384685, 0., -10.544419,  10.241933,  -5.3987164, 0, 11,  10.299168 ,  -5.4257874, 0., 7.65476884e-06, 1.03480346e-05, 9.00140173e-06, 0.07532547, 0., 0, 0.,  2.1413252 , 0.16129635, 0.,  -5.412252 ,  10.27055  , -10.524015 , 0.),
       (9999, 0, 9233, 1232898, -10.480351, 21, 384685, 0., -10.503612,  10.207313,  -5.344846 , 0, 11,  10.241933 ,  -5.3987164, 0., 1.03480346e-05, 1.28351246e-05, 1.15915796e-05, 0.06812964, 0., 0, 0.,  2.6113777 , 0.1779122 , 0.,  -5.3717813,  10.224623 , -10.4919815, 0.),
       (9999, 0, 9233, 1232899, -10.521685, 21, 384685, 0., -10.480351,  10.218375,  -5.2817817, 0, 11,  10.207313 ,  -5.344846 , 0., 1.28351246e-05, 1.59765580e-05, 1.44058413e-05, 0.07620955, 0., 0, 0.,  7.4637337 , 0.5688078 , 0.,  -5.3133135,  10.212844 , -10.501019 , 0.)],
      dtype={'names': ['event_id', 'vertex_id', 'file_vertex_id', 'segment_id', 'z_end', 'traj_id', 'file_traj_id', 'tran_diff', 'z_start', 'x_end', 'y_end', 'n_electrons', 'pdg_id', 'x_start', 'y_start', 't_start', 't0_start', 't0_end', 't0', 'dx', 'long_diff', 'pixel_plane', 't_end', 'dEdx', 'dE', 't', 'y', 'x', 'z', 'n_photons'], 'formats': ['<u4', '<u8', '<u8', '<u4', '<f4', '<i4', '<u4', '<f4', '<f4', '<f4', '<f4', '<u4', '<i4', '<f4', '<f4', '<f4', '<f8', '<f8', '<f8', '<f4', '<f4', '<i4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4', '<f4'], 'offsets': [0, 8, 16, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 80, 88, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144], 'itemsize': 152})

Pandas version 2 will not implicitly accept columns containing arrays (like the vectors in the `trajectories` data).
We need to convert explicitly all the columns that have an array structure (`ndim > 1`) while we can use directly all the others:

In [6]:
dT = pd.DataFrame({
    name: tempT[name].tolist() if tempT[name].ndim > 1 else tempT[name]
    for name in tempT.dtype.names
})

In [7]:
dT

,event_id,vertex_id,file_vertex_id,traj_id,file_traj_id,parent_id,primary,E_start,pxyz_start,xyz_start,...,E_end,pxyz_end,xyz_end,t_end,pdg_id,start_process,start_subprocess,end_process,end_subprocess,dist_travel
0,0,0,0,0,0,-1,True,37.967278,"[24.457000732421875, 2.9800000190734863, 28.88...","[-6.571650981903076, -16.53474235534668, -12.6...",...,5.109989e-01,"[-0.0, 0.0, -0.0]","[-3.9445507526397705, -17.33983612060547, -8.6...",0.000235,11,0,0,2,22,6.596762
1,0,0,0,1,1,-1,True,5.145197,"[4.26800012588501, 2.6530001163482666, 1.10399...","[-6.571650981903076, -16.53474235534668, -12.6...",...,7.258683e-01,"[0.024811385199427605, 0.23035307228565216, 0....","[17.387840270996094, 158.0907440185547, 500.0]",0.018216,22,0,0,1,91,546.106628
2,0,0,0,2,2,-1,True,1.614876,"[-1.5360000133514404, 0.30799999833106995, 0.3...","[-6.571650981903076, -16.53474235534668, -12.6...",...,2.681139e-09,"[-0.0, -0.0, -0.0]","[-12.389768600463867, -12.23798656463623, -25....",0.001020,22,0,0,2,12,30.564150
3,0,0,0,3,3,-1,True,0.030249,"[0.013000000268220901, -0.02500000037252903, 0...","[-6.571650981903076, -16.53474235534668, -12.6...",...,2.286746e-10,"[0.0, -0.0, 0.0]","[-6.409495830535889, -16.846580505371094, -12....",0.000013,22,0,0,2,12,0.377309
4,0,0,0,8,8,2,False,0.551696,"[0.17066627740859985, 0.11860193312168121, 0.0...","[-11.533214569091797, -10.578048706054688, -20...",...,5.109989e-01,"[0.0, 0.0, 0.0]","[-11.532530784606934, -10.5775728225708, -20.5...",0.000846,11,2,13,2,22,0.000834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331096,9999,0,9233,57,384721,46,False,0.517706,"[-0.03867339342832565, 0.06752794981002808, -0...","[3.774780511856079, 5.112830638885498, -5.5318...",...,5.109989e-01,"[-0.0, 0.0, -0.0]","[3.774763584136963, 5.112859725952148, -5.5318...",0.000579,11,2,13,2,22,0.000036
331097,9999,0,9233,56,384720,46,False,0.561127,"[0.028707018122076988, 0.22916162014007568, 0....","[6.1586713790893555, 5.8406805992126465, -4.69...",...,5.109989e-01,"[0.0, 0.0, 0.0]","[6.158820152282715, 5.841869831085205, -4.6951...",0.000491,11,2,13,2,22,0.001203
331098,9999,0,9233,55,384719,46,False,0.793708,"[0.015408151783049107, -0.38160696625709534, 0...","[6.502875328063965, 5.390901565551758, -4.6486...",...,5.109989e-01,"[0.0, -0.0, 0.0]","[6.503434181213379, 5.377066612243652, -4.6314...",0.000473,11,2,13,2,22,0.022019
331099,9999,0,9233,44,384708,0,False,3.220394,"[-1.089735507965088, 2.976869821548462, 0.2460...","[6.529656410217285, 5.65787410736084, -5.51697...",...,5.109989e-01,"[-0.0, 0.0, -0.0]","[7.041238784790039, 6.272549152374268, -5.7201...",0.000473,11,2,14,2,22,1.024242
331100,9999,0,9233,21,384685,0,False,1.581867,"[-0.9210182428359985, 0.27808117866516113, 1.1...","[10.348573684692383, -5.440704345703125, -10.6...",...,5.109989e-01,"[-0.0, 0.0, -0.0]","[10.218375205993652, -5.2817816734313965, -10....",0.000016,11,2,2,2,22,0.222054

In [8]:
dV = pd.DataFrame(tempV)
dV

,event_id,vertex_id,file_vertex_id,x_vert,y_vert,z_vert,t_vert,t_event
0,0,0,0,-6.571651,-16.534742,-12.662657,0.0,0.0
1,1,0,1,-10.218506,-11.217168,6.851345,0.0,0.0
2,2,0,2,-17.536947,11.958721,9.463469,0.0,0.0
3,3,0,3,11.654772,15.455131,-6.146265,0.0,0.0
4,4,0,4,12.918567,-19.363707,-5.080050,0.0,0.0
...,...,...,...,...,...,...,...,...
9229,9995,0,9229,19.440178,6.566624,14.175750,0.0,0.0
9230,9996,0,9230,1.053533,-16.362020,19.606459,0.0,0.0
9231,9997,0,9231,-2.285894,-10.904813,11.854808,0.0,0.0
9232,9998,0,9232,7.305073,-9.284496,22.306885,0.0,0.0
9233,9999,0,9233,10.394234,-5.555483,-10.681137,0.0,0.0

In [7]:
dV[(dV.event_id>10)&(dV.event_id<20)]

,event_id,vertex_id,file_vertex_id,x_vert,y_vert,z_vert,t_vert,t_event
11,11,0,11,16.582668,12.905873,0.239975,0.0,0.0
12,12,0,12,0.882415,-0.217010,21.424965,0.0,0.0
13,13,0,13,13.520179,1.828683,12.270452,0.0,0.0
14,14,0,14,-13.584201,-8.620567,-5.770363,0.0,0.0
15,16,0,15,17.047503,-5.324244,-7.387638,0.0,0.0
16,17,0,16,-21.056309,6.394723,-6.947248,0.0,0.0
17,18,0,17,-17.708735,-17.471483,-4.053585,0.0,0.0
18,19,0,18,24.353159,18.813675,-11.592094,0.0,0.0

In [9]:
dT[(dT.event_id==15)]

Empty DataFrame
Columns: [event_id, vertex_id, file_vertex_id, traj_id, file_traj_id, parent_id, primary, E_start, pxyz_start, xyz_start, t_start, E_end, pxyz_end, xyz_end, t_end, pdg_id, start_process, start_subprocess, end_process, end_subprocess, dist_travel]
Index: []

[0 rows x 21 columns]

In [10]:
dT[(dT.event_id==31)]

Empty DataFrame
Columns: [event_id, vertex_id, file_vertex_id, traj_id, file_traj_id, parent_id, primary, E_start, pxyz_start, xyz_start, t_start, E_end, pxyz_end, xyz_end, t_end, pdg_id, start_process, start_subprocess, end_process, end_subprocess, dist_travel]
Index: []

[0 rows x 21 columns]